@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetbrains-mono);  

}


.grid-layout {
  display: grid;
  grid-template-areas: 
  "header header header "
  "content content content"
  "dock dock dock" 
  "footer footer footer";

  grid-template-rows: 30px 1fr 70px 10px;
}


.grid-dock {
  grid-area: dock;
  grid-column-start: 2;
  grid-column-end: 2;
  place-self: end;

}


.grid-dock-mobile {
  grid-area: dock;
  grid-column-start: 3;
  grid-column-end: 4;
  place-self: end;

}

.grid-content {
  grid-area: content;
  grid-column-start: 1;
  grid-column-end: 4;
}

